---
layout: layouts/base.njk
---
<section class="page-header">
  <div class="wrap">
    <h1>{{ title }}</h1>
    {% if subtitle %}<p>{{ subtitle }}</p>{% endif %}
  </div>
</section>
<section>
  <div class="wrap">
    <div class="prose">
      {{ content | safe }}
    </div>
  </div>
</section>
